{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}!</h1>

<h1>User List</h1>
<a href="/add">Add User</a>
<table border="1">
    <tr>
        <th>Admin Username</th>
        <th>Username</th>
        <th>Port</th>
        <th>Group</th>
        <th>Connected</th>
        <th>Date</th>
    </tr>
    {% for history in histories %}
    <tr>
        <td>{{ history[8] }}</td>
        <td>{{ history[2] }}</td>
        <td>{{ history[4] }}</td>
        <td>{{ history[5] }}</td>
        <td>
          {% if history[6] == 1 %}
            <p>Connected</p>
          {% else %}
            <p>Not Connected</p>
          {% endif %}
        </td>
        <td>{{ history[7] }}</td>
        <td>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}